
#map {

    height: 180px;
   /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;*/
    position: relative;
    height: inherit;
    width: inherit;
    margin-left: 50%;
}

.map-container {
    position: relative;
    height: 180px;
    width: 600px;

}
