* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: auto;
    /*    background-color: #F45A99;
*/
    font-family: 'Rubik', sans-serif;
    max-height: 100%;
    background-color: #F45A99;


}

/*preload shows a loading screen*/

.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F45A99;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    z-index: 99;
    /*transition: opacity 0.5s ease;*/
}

/*How fast the preload animation goes for*/
.preload.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }

}



/*
.preload-finish {
    opacity: 0;
    visibility: hidden;
    /*display: none;*/



main {
    background-color: #F45A99;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    /*  padding: 8px;
    margin: 16px;*/
    color: pink;

}

/* Navigation */

nav a {
    text-decoration: none;
    outline: none;
    color: pink;
}

nav a:hover {
    color: #F45A99;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}

nav ul {
    padding: 0;
    list-style: none;
}

.navbar {
    display: flex;
    width: 100%;
    width: 100%;
    margin-top: 48px;
    font-size: 24px;
    justify-content: space-around;
}

.navbar .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .fas {
    width: 40px;
}

/* Search  */
.nav-search {
    position: relative;
    /* top: 1px; */
    bottom: 0px;
    /* right: 8px; */
    border-radius: 6px;
    padding: 1px;
    margin: 1rem;
}

/* Button */

.btn-flat {
    color: pink;
    padding: 8px 24px;
    border-radius: 4px;
    background: #f45a99;
    transition: background 0.3s ease;
}

.btn-flat:hover {
    background: #e495b5;
    color: white;
}

.order-flat {
    color: pink;
    padding: 8px 24px;
    border-radius: 4px;
    background: #f45a99;
    transition: background 0.3s ease;
}

.order-flat:hover {
    background: #e495b5;
    color: white;
    text-decoration: none;
}

.order-btn {
    text-decoration: none;
    text-align: center;
}



.banner {
    color: white;
    text-align: center;
    height: 69vh;
    background-size: cover !important;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    padding: 9px;
}

.banner-text {
    color: white;
    text-align: center;
    height: 10vh;
    background-size: cover !important;
    /* display: flex; */
    align-items: center;
    justify-content: center;

}

.banner-text h1 {
    font-size: 108px;
}

.white-container {
    background-color: white;
    text-align: center;
    height: 52vh;
    background-size: cover !important;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin-top: 10vh; */
    width: 100%;

}

.white-container h2 {
    font-size: 64px;
    color: #F45A99;
    padding: 4px;
    margin-top: 10px;
}

.white-container p {
    font-size: 16px;
    color: #f45a99;
    padding: 10px;
}

.pizza-maker {

    padding: 0px;
    width: 25%;
}


.pink-wrapper {
    background-color: #F45A99;

}


/*footer*/

.footer {
    background: #f45a99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0, 0, 0, 0.3);
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links a:hover {
    opacity: 1;
}


.spinners {
    display: flex;
    justify-content: space-around;
}



/*pizza cards
*/

.pizza-cards {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    padding: 8px;
    margin-top: 100px;

}


.card-product {
    overflow: hidden;
    height: 120px;
    width: 26%;
    background: white;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
        border-radius: 5px;

}

.card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-product .card-product-infos {
    padding: 16px;
}

/*media queries
*/

/*@media (min-width: 500px) {
    .white-container {
        font-size: 10px;
    }
*/
}
